.header-calender-div{
    position: relative;
    width: 30px;
    height: 32px;
    border-radius: 6px;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header-calender-month{
    width: 100%;
    font-size: 0.59rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.653);
    text-align: center;
    border-bottom: 1px solid rgba(24, 8, 247, 0.325);
    font-family: roboto-medium;
    max-height: 10px;
    letter-spacing: 0.1rem;
    background: rgba(56, 107, 249, 0.687);
    color: rgb(255, 255, 255);
    border-radius: 6px 6px 0px 0px;
}

.header-calender-day{
    margin-bottom: 3px;
    font-family: roboto-medium;
    font-size: 0.8rem;

}