

/*calender in adder div to pick date*/
.date-adder-calender-div{
    padding-top: 5px;
}

.calender-title-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: stretch;
    align-items: center;
    width: 100%;

}

.calender-title-text{
    font-family: sofia;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.403);
    font-size: 1.4rem;
    color:rgba(221, 221, 222, 0.849);
    white-space: nowrap;
    text-align: center;

}
.arrow-div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.add-cal-arrow{
    width: 20px;

    filter: invert(70%) brightness(1.6) drop-shadow(0px 0px 8px rgba(102, 100, 218, 0.472)) ;
    transition: filter, transform 0.1s linear;  
}
.add-arrow-clicked-left{
    filter: invert(60%) brightness(1.2) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.972));
    transform: scale(1) rotate(180deg);
}
.add-arrow-clicked-right{
    filter: invert(60%) brightness(1.2) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.972));
    transform: scale(1);
}

.add-arrow-right-hov{
    transform: scale(1.2);

}
.add-arrow-left{
    transform: rotate(180deg) scale(1);
}
.add-arrow-left-hov{
    transform: rotate(180deg) scale(1.2);
}





/* general calender div, for specific cal add type after div */
.calender-adder-div{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(6, 2fr);
    justify-items: center;
}

/* the calender's div beneath arrows */
.calender-adder-div-small{
    margin-top: 5px;
    width: 100%;
    height: 250px;

}


.cal-header-small{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto-medium;
    color: rgba(129, 129, 138, 0.956);
    text-shadow: 0px 1px 5px rgba(0, 2, 57, 0.225) ;
}

.cal-day-square{
    font-size: 0.85rem;
    padding: 0px 3px;
    font-family: sofia;
    width: 100%;
    display: flex;
    justify-content: end;
    border: 1px solid rgba(230, 230, 230, 0.215);
    margin-left:-1px;
    margin-bottom: -1px;
    color: rgba(254, 254, 254, 0.823);
    cursor: pointer;

}
.cal-day-square:not(.cal-day-other-month){
    background-color: rgba(63, 164, 236, 0.146);
}
.cal-day-square:not(.cal-day-other-month):hover{
    background-color: rgba(12, 109, 173, 0.415);
}
.cal-day-other-month{
    color: rgba(0, 0, 0, 0.258);
    background-color: rgba(87, 100, 119, 0.186);
}
.cal-day-other-month:hover{
    color: rgba(201, 198, 198, 0.306);
    background-color: rgba(102, 97, 97, 0.353);

}
























/* calender icon in header */
.header-calender-div{
    position: relative;
    width: 28px;
    height: 30px;
    border-radius: 6px;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 10;
}
.calender-click-div{
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
    background: transparent;
    
}
.header-calender-month{
    width: 100%;
    font-size: 0.59rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.653);
    text-align: center;
    border-bottom: 1px solid rgba(24, 8, 247, 0.325);
    font-family: roboto-medium;
    max-height: 10px;
    letter-spacing: 0.1rem;
    background: rgba(56, 107, 249, 0.687);
    color: rgb(255, 255, 255);
    border-radius: 6px 6px 0px 0px;
}

.header-calender-day{
    margin-bottom: 3px;
    font-family: roboto-medium;
    font-size: 0.8rem;

}

