header{

    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.header-search-img{
    position: absolute;
    width: 18px;
    margin-left: 7px;
}
.searchbar-div{
    display: grid;
    grid-template-columns: 100%;
    width:100%;
    height: 100%;
    margin: 0 15px;
    align-items: center;

    position: relative;
}

#header-input{
    width: 30px;
    font-family: "roboto";
    font-size: 1.4rem;
    height: 60%;
    border-radius: 15px;
    padding-left: 35px;
    border: none;
    outline: none;
    transition: width .15s linear;
    box-shadow: 0px 0px 5px rgba(150, 150, 152, 0.3);

}
#header-input:focus{
    box-shadow: 0px 0px 4px rgb(9, 138, 230, 0.4);

}
.header-options-div{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items:end;

}
.header-options-middle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px;
    gap: 20px;
    width: 100%;
    height: 90%;
    border-left: 1px solid rgba(255, 255, 255, 0.196);
    border-right: 1px solid rgba(254, 254, 254, 0.196);
    background-color: rgba(107, 104, 104, 0.285);
    border-radius: 10px;
    position: relative;
}
.bulb-div{
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 25px;
}
.bulb-brightness{
    top: 10px;
    position: absolute;
    box-shadow:
    0 0px 11px 8px rgba(184, 182, 166, 0.487), 
    0 0 100px 8px rgba(243, 250, 40, 0.325), 
    0 0 80px 30px rgba(246, 255, 150, 0.4893);
    transition: 0.2s opacity ease-in-out;
    z-index: 2;

}
.bulb-img{


}

.bulb-img, .header-overview-btn, .header-profile, .header-add-btn{
    width: 25px;
    cursor: pointer;
    z-index: 10;
}

.header-profile{
    margin-left: 25px;

}


/* when header gets small */
.header-options-div-small{
    justify-self: end;
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;
    gap: 20px;
    padding-right: 10px;
}
.menu-icon{
    width: 27px;

}
.header-options-div-small img{
    cursor: pointer;
}
.mobile-menu-div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: rgba(217, 217, 217, 0.261);
    width: fit-content;
    top:34px;
    right: -2px;
    position: absolute;
    border-radius: 3px;
    transition: 0.1s ease-in-out opacity;
    opacity: 0;

}
.mobile-menu-div-show{
opacity: 1;

}





.header-options-middle-mobile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.181);
    border-bottom: 1px solid rgba(255, 255, 255, 0.181);
    padding: 13px 0px;


}
.header-overview-btn-mobile, .header-add-btn-mobile{
    width: 27px;
}
.header-profile-mobile{
    width: 30px;

}
.github-mobile{

    width: 23px;
}
.header-add-btn-mobile{

}
.header-overview-btn-mobile{
    margin-left: 2px;
}





