main{


}

#main-home-div{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.home-head-div{
  position: relative;
  user-select: none;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#home-taskbox-container{

}

#taskbox-sub-container{
  
}

.home-welcome{
  font-family: roboto;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.672);
}

.home-timeframe-div{
  width: 100%;
  font-family: roboto-medium;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-top:1px solid rgba(255, 255, 255, 0.08);
  border-bottom:1px solid rgba(255, 255, 255, 0.08);
  
}
.home-timeframe-div span{ 
  color: rgb(204, 193, 193);
  text-shadow: 0px 0px 2px rgb(186, 186, 192);
  font-size: 1.8rem;
  font-family: sofia;
}

.picked-timeframe{
  position: absolute;
  border: 2px solid rgba(24, 162, 172, 0.555);
  border-radius: 2px;
  border-left: none;
  border-right: none;
  height: 100%;
  padding:0px 0px;
  transition: all 0.2s linear;
}
.home-timeframe-btn{
  transform: scale(1);
  cursor: pointer;
  transition: all 0.2s linear;
  color: rgba(255, 255, 255, 0.279);

  

}
.picked-timeframe-elem{
  transform: scale(1.25);
  color: rgb(209, 209, 209);
  text-shadow: 0px 0px 4px rgb(65, 218, 220, 0.5);
}




/* containers for daily/weekly/montly */

#home-taskbox-container{
  z-index: 0;
}
#taskbox-sub-container{
  display: flex;
  position: relative;
  transition: left 0.3s ease-in;
  
}

.taskbox-div{
  position: absolute;
  width: 100%;
  top: 0;
  user-select: none;
  display: flex;
  flex-direction: column;


}
.taskbox-div-daily{
  left: 0%;
}
.taskbox-div-weekly{
  left: 200%;
  
}
.taskbox-div-monthly{
  left: 400%;
  
}






.taskbox-head{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 15px;
  padding: 0px 0px;
  font-family: "korean";
  font-size: 1.5rem;
  color: rgb(239, 240, 239);
  text-shadow: 0px 0px 2px rgba(24, 162, 172, 0.855);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background-image: linear-gradient(120deg, #001a1c90 0%, #191b1a9a 100%);
  backdrop-filter: blur(20px);
  z-index: 1;
}
.taskbox-head p{
  color: rgb(239, 240, 239);
  text-shadow: 0px 0px 2px rgba(24, 162, 172, 0.855);
  white-space: nowrap;
}
.taskbox-head-daily{
 
}
/* dropdown ------------------------------------------------*/
.drop-master-cont{
  position: fixed;
  top: 0;
  left: 38%;

}
.tb-dropdown{
  align-self: center;
  width: clamp(250px, 20%, 300px);
  color: white;
  display: flex;
  flex-direction: column;
  transition: height 1s linear;
  bottom: 50px;
}
.tb-dropdown-upper{
  position: relative;
  background-color: rgba(0, 0, 0, 0.722);
  backdrop-filter: blur(10px);
  padding: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.2s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  align-items: center;
  height: 60px;
}
.tb-dropdown-this, .tb-dropdown-go{
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  white-space: nowrap;
  font-size: 0.95rem;
  font-family: ptserif;
  padding: 2px;
  background: rgba(158, 232, 221, 0.132);
  box-shadow: rgba(115, 115, 116, 0.3) 0px 1px 2px 0px, rgba(107, 162, 139, 0.15) 0px 1px 3px 1px;
  color: rgba(255, 255, 255, 0.679);
  cursor: pointer;
  transition: background-color, color 0.13s linear;
}
.tb-dropdown-this:hover, .tb-dropdown-go:hover{
  background: rgba(16, 129, 123, 0.332);
  color: rgba(255, 255, 255, 0.779);
}
.tb-dropdown-this:active, .tb-dropdown-go:active{
  box-shadow: rgba(155, 155, 158, 0.25) 0px 30px 60px -12px inset, rgba(143, 140, 140, 0.3) 0px 18px 36px -18px inset;
}
.tb-dropdown-this{
  border-radius: 0px 0px 0px 10px;
}
.tb-dropdown-go{
  border-radius: 0px 0px 10px 0px;
}
.tb-progress{
  background-color: rgb(40, 99, 133);
  grid-column: 1 / 3;
}
.tb-autohide{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  border-right: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  aspect-ratio: 1 / 1;
  width: 20px;
  cursor: pointer;
}
.autohide-label{
  position: absolute;
  white-space: nowrap;
  font-family: roboto;
  top: 1px;
  right: 0px;
  font-size: 0.8rem;
  opacity: 0.5;
  display: none;
  transition: all 0.1s linear;

}
.tb-check{

  
}

.tb-dropdown-lower{
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.504);
  backdrop-filter: blur(10px);
  border-top: none;
  align-self: center;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:grab;
}
.tb-dropdown-lower:active{
  cursor:grabbing;

}
.tb-dropdown-lower div{
  padding: 0px 10px;
  font-family: open;
  font-size: 1rem;
  transition: 0.2s linear transform;
  color: rgba(255, 255, 255, 0.53);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.tb-upper-hidden{
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
.tb-lower-hidden{
  transform: rotate(180deg);
}
.daily-date-range,.weekly-date-range,.monthly-date-range{
  padding: 20px 0px;
  font-size: calc(1.5rem + 0.5vw);

}

/* ---------------------------------------------------------------- */
/* daily box */
.daily-date-range{
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

/* week box */
.weekly-date-range{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.weekly-date-range img{
  width: 40px;
  filter: hue-rotate(305deg) brightness(1);
  opacity: 0.7;
  -webkit-user-drag: none;
  user-select: none;
  transition: width, transform 0.1s linear;
}
.weekly-date-range p {
  letter-spacing: 0.05rem;

}
/* month-box */
.monthly-date-range{
  white-space: nowrap;
}

/* arrows */
.taskbox-arrow-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(24, 162, 172, 0.555);
  text-shadow: 0px 0px 2px rgb(143, 140, 140);
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.1s linear;
}
.taskbox-arrow-div:active{
  transform: scale(0.98);
}
.taskbox-arrow-div p{
  font-size: 25px ;
  font-family: oxygen;
  pointer-events: none;

}
.taskbox-animate{
  animation: arrowboop 0.3s ease-in-out;
}
@keyframes arrowboop {
  0%{
    font-size: 25px;
    text-shadow: 0px 0px 0px white;

  }
  50%{
    font-size: 35px;
    text-shadow: 0px 0px 13px rgb(30, 185, 177);

  }
  100%{
    font-size: 25px;
    text-shadow: 0px 0px 0px white;

  }
}
.taskbox-arrow-div:hover{
  box-shadow: rgba(225, 225, 225, 0.1) 0px 1px 2px, rgba(218, 220, 222, 0.05) 0px 1px 3px inset;
  background-color: rgb(65, 218, 220, 0.1);

}

.taskbox-arrow-div:active{
  box-shadow: rgba(245, 243, 243, 0.2) 0px 0px 2px, rgba(218, 220, 222, 0.1) 0px 0px 2px;

}

@media (max-width: 600px){
  .weekly-date-range{
    flex-direction: column;
    gap:10px;
  }
  .weekly-date-range p {
    font-size: 1.2rem;

  }
  .weekly-date-range img{
    transform: rotate(90deg);
    width: 25px;
  
  }
}



/* options menu---------------------------------------------------------------- */

.to-all-div{
  position: sticky;
  top: 5px;
  left: 1px;
  margin-bottom: -40px;
  max-width: fit-content;
  display: flex;
  z-index: 99;
}
.to-menu-btn-div{
  position: relative;
  width: 40px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.083);
  border-left: none;
  border-radius: 0px 3px 3px 0px;
  background: linear-gradient(to right, #0f2822a7, #132c299c, #112b2398);
  box-shadow: rgba(170, 167, 167, 0.15) 0px 0px 5px;
  backdrop-filter: blur(10px);
  padding: 3px 0px;
}
.to-menu-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.to-menu-btn:hover, .to-menu-on{
  filter: brightness(2);
}
/* detach icon */
.to-detach-div{
  position: absolute;
  left: 3px;
  top: 4px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.5;
}

.to-detach-div > div{
  position: relative;
}
.to-detach-div > div p{
  position: absolute;
  color: white;
  display: none;
  white-space: nowrap;
  left: 30px;
  font-size: 0.7rem;
  top: 3px;
}
.to-detach-upper, .to-detach-lower{
  position: absolute;
  border: 1px solid rgb(253, 255, 254, 0.8);
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.90);
  color: rgba(254, 254, 254, 0.995);
  font-size: 0.76rem;
  text-shadow: 0px 0px 2px white;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(100, 212, 176, 0.508);
}
.to-detach-upper{
  display: flex;
  justify-content: center;
  right: -1px;
  top: 0;
  transition: transform 0.15s linear;
}
.to-detach-lower{
 top: 4px;
 left: 2px;
}



/* actual menu  and close button*/
.to-menu{
  position: fixed;
  left: 42px;
  top: 0;
  padding: 3px 10px;
  background: linear-gradient(to right, rgba(15, 40, 34, 0.942), rgba(19, 44, 41, 0.988), rgba(17, 43, 35, 0.975));
  border: 1px solid rgba(255, 255, 255, 0.083);
  display: none;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity all 2s linear;
  font-family: open;
  user-select: none;
  border-radius: 0px 5px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.083);
  box-shadow: rgba(0, 94, 69, 0.19) 5px 2px 15px, rgba(7, 62, 64, 0.23) 0px 3px 6px;
  gap: 10px;

  transform: tr;
}
.flying-menu{
  transition: all 0.2s ease;
  transform: skew(10deg, 10deg);
}
.to-detached{
  border-radius: 5px

}
.to-title{
  align-self:center;
  font-size: 1.2rem;
  font-family: roboto-medium;
  color: rgba(192, 191, 191, 0.775);
  text-shadow: 0px 0px 1px rgba(204, 199, 199, 0.74);
  text-transform: uppercase;

}
.to-close{
  position: absolute;
  font-size: 1.2rem;
  color: rgba(162, 160, 160, 0.363);
  top: 2px;
  right: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: 0.1s transform, color linear;
}
.to-close:hover{
  transform: scale(1.2);
  color: rgba(255, 0, 0, 0.405);
}

/* collapse /expand  */

.to-collExp-div{
  display: flex;
  justify-content: center;
  width: 100%;
}
.to-collExp-div span{
  width: 0px;
  align-self: stretch;
  border-left: 0.2px solid rgba(255, 255, 255, 0.717);
  box-shadow: 0px 0px 5px rgb(0, 200, 255);
}
.to-collapse, .to-expand{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  width: 100%;
  padding: 3px 10px;
  cursor: pointer;
  transition: 0.2s background-color linear;
}
.to-collapse{

}

.to-collapse:hover,.to-expand:hover{
  background: rgba(255, 255, 255, 0.109);
}

.to-collapse-img{
  width: 18px;
  height: 18px;
  filter: invert(100%);

}



/* effect thing */
.op-line-0, .op-line-1, .op-line-2{
  height: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(174, 183, 182, 0.3);
  width: 65%;
  opacity: 0.7;
  border: 1.2px solid rgba(227, 227, 227, 1);
  background-color: white;
}
.op-line-0, .op-line-2{
  transition: width, transform 0.2s linear;
  border: 1px solid rgba(227, 227, 227, 1);

}
.op-line-1{
  transition: opacity, width 0.2s linear;
  border: 1px solid rgba(227, 227, 227, 1);

}

.op-line-0-show{
  transform: translate(6.4px, 8px) rotate(25deg);
  width: 40%;
  opacity: 1;
  filter: invert(40%);

}
.op-line-1-show{
  width: 70%;
  opacity: 1;
  filter: invert(40%);

}
.op-line-2-show{
  transform: translate(6.4px, -8px) rotate(-25deg);
  border-radius: 10px;
  width: 40%;
  opacity: 1;
  filter: invert(40%);
}


/* hide div */

.to-hide-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.175);
  border-bottom: 1px solid rgba(255, 255, 255, 0.175);
  padding: 5px 0px;

}
.to-hide-left, .to-group-title{
letter-spacing: 0.05rem;
  align-self: center;
  font-family: ptserif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.67);
}

.to-hide-right{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.to-check-field{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  padding: 5px 13px;
  transition: 0.2s background-color linear;
  
}
.to-check-field:not(.prio-check-field) p{
 

}
.to-check-field:hover{
  background: rgba(255, 255, 255, 0.109);
}
.to-check-field p{
  font-family: sofia;
}

.to-hidden-text{
  color: rgba(255, 255, 255, 0.309);

}




.eye-div{
  border: 1px solid rgba(255, 255, 255, 0.603);
  width: 25px;
  height: 18px;
  border-radius: 8% 95% 8% 90%;
  transform: rotate(-31deg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -0.5px 0px 1px rgb(236, 236, 236, 0.8), 0px -1px 5px rgb(118, 139, 173, 0.4);
}
.eye-iris{
  border-radius: 50px;
  border: 0.7px solid rgba(255, 255, 255, 0.473);
  width: 8px;
  aspect-ratio: 1 / 1;
  background: rgba(98, 116, 155, 0.673);

}
.eye-slash{
  position: absolute;
  height: 25px;
  width: 0;
  border-left: 4px solid rgb(155, 72, 72);
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgb(236, 236, 236, 0.5);
  display: none;
}

.eye-div-on{

}

.to-check-prio{
  grid-column: 1 / 5;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* filter by group */

.to-group-div{
border-bottom: 1px solid rgba(255, 255, 255, 0.175);
width: 100%;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
padding-bottom: 5px;

}

.to-group-title-div{
  display: flex;
  gap: 5px;
}


.to-group-list{
  width: 250px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 3px;
  position: relative;
}
.to-group-drop-top{
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.841);
  background-color: rgba(255, 255, 255, 0.518);
}
.to-group-dropdown{
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.885);
  border-radius: 0px 0px 3px 3px;
  background-color: rgba(0, 0, 0, 0.791);
}
.to-drop-groups{
  background-image: linear-gradient(120deg, rgba(0, 38, 41, 0.825) 0%, rgba(0, 34, 17, 0.845) 100%);
  max-height: 160px;
  overflow: auto;

}
.to-drop-groups::-webkit-scrollbar {

  width: 10px;
}
.to-drop-groups::-webkit-scrollbar-track {
  border-radius: 10px;
  
  background: #f1f1f1;
}
.to-drop-groups::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #14835ecc;
}

.to-input{
  width: 100%;
  height: 30px;
  padding: 5px 5px;
  text-align: center;
  outline: none;
  border: none;

}
/* group row in options menu */
.to-group-row{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  height: 40px;
  background-color: rgba(81, 81, 81, 0.208);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.779);
}
.to-group-row:nth-child(even){
  background-color: rgba(75, 81, 120, 0.278)
}
.to-group-row:hover{
  background-color: rgba(255, 255, 255, 0.125)
}
.to-group-row p{
  padding-right: 20px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-check{
  border: 1px solid rgba(147, 84, 84, 0.418);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  aspect-ratio: 1 / 1;
  box-shadow: 0px 0px 3px white;
}
.group-check span{
  text-shadow: 0px 0px 3px rgba(195, 158, 234, 0.449);
}

.to-group-select{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1p0;


}
.to-group-select-all, .to-group-deselect-all{
  width: 100%;
  text-align: center;
  background-color: rgba(0, 116, 165, 0.827);
  color: rgba(255, 255, 255, 0.884);
  cursor: pointer;
  padding: 2px 0px;
}
.to-group-deselect-all{
  border-left: 2px solid rgba(255, 255, 255, 0.388);
}
/* if user has no stored tasks -------------------------------------------------------*/

.no-tasks-div{
  z-index: 99;
  position: absolute;
  top: -23px;
  right: 140px;
  display: flex;
  align-items: center;
  animation: noTaskDivAnim infinite 3s ease-in-out;

}
.no-task-text{
  color: white;
  font-family: kalam;
  font-size: 1.2rem;
  margin: 12px 0px 10px 0px;
  white-space: nowrap;

}
.empty-arrow{
  width: 100px;
  filter: invert(100%);
  transform: rotate(40deg);
 
}
      

@keyframes noTaskDivAnim {
  0%{
    opacity: 0.4;
    text-shadow: 0px 1px 12px rgba(72, 130, 210);

  }
  50%{
    opacity: 0.1;
    text-shadow: 0px 0px 1px rgb(183, 183, 211);
  }
  100%{
    opacity: 0.4;
    text-shadow: 0px 1px 12px rgb(72, 130, 210);

  }
}

