.onerow-cal-weekly, .onerow-cal-monthly{
    position: relative;
    width: 100%;
    height: clamp(80px, 12vw, 150px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    background: linear-gradient(to right, #0c1f1bba, #112523cb, #0c1d18bf);
  
}



.hidden-onerow-weekly, .hidden-onerow-monthly{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.486);
    font-size: 0.8rem;
    height: 30px;
    border: 1px solid white;
    position: absolute;
    cursor: pointer;
    border-radius: 0px 0px 10px 0px;
    font-family: open;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-top: none;
    border-left: none;
    white-space: nowrap;
    box-shadow: rgba(182, 185, 184, 0.2) 0px 1px 2px 0px, rgba(182, 182, 182, 0.05) 0px 1px 3px 1px;
    padding-left: 2px;
    overflow: hidden;
    background: rgba(6, 182, 192, 0.139);

}

.hidden-onerow-weekly p, .hidden-onerow-monthly p{
    font-size: 0.7rem;
    position: absolute;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.572);
}

.onerow-allHide{
    display: none;
}
.onerow-hide-btn{
    background: rgba(6, 182, 192, 0.639);
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-left: none;
    border-top: none;
    border-radius: 0px 10px 0px 0px;
    bottom: 0;
    left: 0;
    padding: 3px 10px;
    color: rgba(1, 1, 1, 0.714);
    font-family: open;
    font-size: 0.7rem;
    box-shadow: rgba(100, 204, 182, 0.2) 0px 1px 2px 0px, rgba(70, 179, 148, 0.05) 0px 1px 3px 1px;
    cursor: pointer;
    z-index: 20;
}

.onerow-hide-btn:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 0.68rem;
}


/* week cal-------------------------------------------------------------------------------- */
.onerow-cal-weekly{
    display: grid;
    grid-template-columns: repeat(7, minmax(60px, 1fr));
    grid-template-rows: 1fr;
}

.week-square{
    position: relative;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.068);
    background: rgba(255, 255, 255, 0.029);
    transition: background-color 0.2s linear;

}
.week-square:hover{
    background: rgba(244, 241, 241, 0.059);

}
.week-square:last-child{
    border: none;
}

.week-square-day{
    position: absolute;
    right: 0;
    margin: 5px 8px;
    color: rgba(255, 255, 255, 0.722);
    font-size: calc(1vw + 7px);
    font-family: oxygen;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.351);
}
.week-square span{
    position: absolute;
    left: 0;
    padding: 2px 5px;
    color: rgba(255, 255, 255, 0.399);
    font-family: oxygen;
    border:1px solid rgba(255, 255, 255, 0.068);
    border-left: none;
    border-top: none;
    background-color: rgba(254, 251, 251, 0.052);

    font-size: 0.9rem;
}
.week-today{
    background: rgba(31, 65, 130, 0.193);
}
.week-today:hover{
    background: rgba(0, 0, 255, 0.058);
}
/* week cal-------------------------------------------------------------------------------- */
.onerow-cal-monthly{
    display: flex;
    justify-content: space-around;

}

.month-square{
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.332);
    width: 100%;
    min-width: 20px;
    background: rgba(255, 255, 255, 0.029);
    transition: padding 0.2s ease-in-out;

}
.month-square:hover{
    padding: 0px 100px;

    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.month-square:last-child{
    border: none;
}
.month-square-day{
    right: 5px;
    position: absolute;
    color: rgba(255, 255, 255, 0.722);
    font-size: calc(0.8vw + 5px);
    font-family: oxygen;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.351);
    
}
