.onerow-cal-weekly, .onerow-cal-monthly{
    position: relative;
    width: 100%;
    height: clamp(80px, 12vw, 150px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    background: linear-gradient(to right, #0c1f1bba, #112523cb, #0c1d18bf);
  
}



.hidden-onerow-weekly, .hidden-onerow-monthly{
    font-size: 0.7rem;
    height: 15px;
    position: absolute;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-top: none;
    border-left: none;
    overflow: hidden;
    box-shadow: rgba(170, 167, 167, 0.15) 0px 0px 7px;
    margin-left: 1px;
    transition: font-size 0.2s linear;
    opacity: 0.6;
    font-family: 'Courier New', Courier, monospace;
}

.hidden-onerow-weekly:hover, .hidden-onerow-monthly:hover{
    opacity: 1;
    font-size: 0.75rem;
}

.hidden-onerow-weekly p, .hidden-onerow-monthly p{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    color: rgba(255, 255, 255, 0.672);
}
.onerow-allHide{
    display: none;
}
.onerow-hide-btn{

    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-left: none;
    border-radius: 0px 3px 3px 0px;
    bottom: 10px;
    left: 1px;
    text-align: center;
    color: rgba(255, 255, 255, 0.614);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    cursor: pointer;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.386);
    box-shadow: rgba(170, 167, 167, 0.15) 0px 0px 3px;
}
.onerow-hide-btn:hover{
    background-color: rgba(255, 255, 255, 0.152);
    font-weight: 900;
}
.onerow-hide-btn:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 0.68rem;
}

/* week cal-------------------------------------------------------------------------------- */
.onerow-cal-weekly{
    display: grid;
    grid-template-columns: repeat(7, minmax(60px, 1fr));
    grid-template-rows: 1fr;
}

.week-square{
    position: relative;
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.068);
    background: rgba(255, 255, 255, 0.029);
    transition: background-color 0.2s linear;

}
.week-square:hover{
    background: rgba(244, 241, 241, 0.059);

}
.week-square:last-child{
    border: none;
}

.week-square-day{
    position: absolute;
    right: 0;
    margin: 5px 8px;
    color: rgba(255, 255, 255, 0.722);
    font-size: calc(1vw + 7px);
    font-family: oxygen;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.351);
}
.week-square span{
    position: absolute;
    left: 0;
    padding: 2px 5px;
    color: rgba(255, 255, 255, 0.399);
    font-family: oxygen;
    border:1px solid rgba(255, 255, 255, 0.068);
    border-left: none;
    border-top: none;
    background-color: rgba(254, 251, 251, 0.052);

    font-size: 0.9rem;
}
.week-today{
    background: rgba(31, 65, 130, 0.193);
}
.week-today:hover{
    background: rgba(0, 0, 255, 0.058);
}
/* week cal-------------------------------------------------------------------------------- */
.onerow-cal-monthly{
    display: flex;
    justify-content: space-around;

}

.month-square{
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.332);
    width: 100%;
    min-width: 20px;
    background: rgba(255, 255, 255, 0.029);
    transition: padding 0.2s ease-in-out;

}
.month-square:hover{
    padding: 0px 100px;

    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.month-square:last-child{
    border: none;
}
.month-square-day{
    right: 5px;
    position: absolute;
    color: rgba(255, 255, 255, 0.722);
    font-size: calc(0.8vw + 5px);
    font-family: oxygen;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.351);
    
}
