

@media (max-device-width: 420px ) {
    nav{
        position: fixed;
        bottom:0;
        width: 100%; 
        height: 150px;
        display:  flex;
        grid-template-rows: none;
        grid-template-columns: none;
     
        
    }
    .nav-items{
        width: 100%;
        flex-direction: row;
        gap: 230px;
        border: 1px solid black;
        
    }
    .nav-item{

    }

    .nav-icon{
        width: 100px;
    }

    .tasks-arrow{
        width: 45px;
        transform: none;
    }
    .arrow-rotate{
        transform: rotate(-90deg);

    }
    .nav-tasks-sub{
        position: absolute;
        top: -100px;
        
    }

    .nav-title, .nav-github, .nav-hide-btn, .nav-item p{
        display: none;
    }
}




@media (max-width:900px) {
    nav{
        width: clamp(100px, 20%, 120px); 
    }
    .nav-items{
        margin-right: 8px;
        align-items: center;
   
        gap: calc(50px + 4vw);
      
    }
    .nav-item:nth-child(2){
        margin-left: 23px;

    }
    .nav-item{

    }
    .nav-item p{
    display: none;
    }

    .nav-icon {
        width: calc(23px + 2.5vw)
    }

    .tasks-arrow{

    }
    .nav-tasks-sub{
        margin-top: -65px;
        width: 100%;
    
    }
    .nav-icon-settings{
        margin-top: -60px;

    }
    .nav-icon-settings-margin{
        margin-top: 40px;
    }


    
}


@media only screen and (max-height: 340px){
    .nav-items{
        gap: 8vh;
       
    
    }

}
