.home-task-row{
    border-bottom: 1px solid rgba(255, 255, 255, 0.186);
    font-family:open;
    display: grid;
    grid-template-columns:  minmax(100px,1fr) minmax(150px,0.4fr) minmax(130px,0.5fr) minmax(30px, 50px);
    grid-template-rows: 70px;
    align-items: stretch;
    justify-items: center;
    padding-left:10px;
    margin-left: 1px;
}
.home-task-row > div:not(.tr-title){
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.286);
    display: flex;

    align-items: center;
    padding: 12px 0px;
}
.home-task-row:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.186);
    
}

/* title--------------------------------------------------------- */
.tr-title{
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.286);

}
.tr-title p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}


/* due ----------------------------------------------------------------*/
.tr-due-div{
    width: 100%;
    justify-content: center;
    gap: 8px;
}
.tr-due-div img{
    width: 20px;
}
.tr-due-div div{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: calc(0.8rem + 0.5vw);
    color: rgba(255, 251, 251, 0.722);
}

.tr-due-div div span{
    font-size: 2rem;
    font-family: playfair;
    color: rgb(119, 119, 119);
    height: calc(20px + 0.8vw);
    background-color: rgba(255, 255, 255, 0.74);
    transform: rotate(20deg);
    border: 1.2px solid rgba(255, 255, 255, 0.555);
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(97, 204, 168, 0.5);
}
/* other ----------------------------------------------------------------*/

.tr-other-div{

    justify-content: space-evenly;
}

.tr-priority{
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.885);
    width: 25px;
    aspect-ratio: 1 / 1;
}

.tr-repeat{

    position: relative;
    width: 25px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tr-repeat img{
    width: 25px;
    filter: hue-rotate(320deg) contrast(0.8);
}

.tr-x{
    position: absolute;
    border-radius: 50px;
    border: 2px solid rgb(217, 15, 15, 0.4);
    box-sizing: content-box;
    width: 30px;
    height: 30px; 
    display: flex;
    align-items: center;
    pointer-events: none;
}
.tr-x > div{
    width: 100%;
    border: 2px solid rgb(217, 15, 15, 0.5);
    transform: rotate(45deg);
}
.tr-notes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tr-notes img{
    width: 25px;
}

.tr-group{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tr-group img{
    width: 25px;
    filter: hue-rotate(200deg);
}

/* checkbox */

.tr-check-div{
    cursor: pointer;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.tr-inner-check{
    opacity: 0.2;
    font-size: 1rem;
    transition: font-size 0.1s linear;
}

.tr-hov, .tr-check-hov{
    position: fixed;
    background-color: rgba(250, 250, 250);
    max-width: 500px;
    max-height: 400px;
    z-index: 99;
    overflow: hidden;
    padding: 5px;
    text-align:start;
    font-family: ptserif;
    font-size: 1.2rem;
}

.tr-check-checked{
    opacity: 1;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.738);
    text-shadow: 0px 0px 2px rgb(56, 192, 96);
}