.home-task-row{
    font-family:open;
    margin-left: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.186);

}
.home-task-row-uncollapsed{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.08);

}

.home-task-row:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.186) ;

}
/* lower Div--------------------------------------------------------- */
.tr-lower-part{
    transition: height 0.2s linear;
    position: relative;
    height: 250px;
    border-top: 1px solid rgba(255, 255, 255, 0.186) ;
    padding: 0px 15px;
    overflow: scroll;
    padding-top: 20px;
    
}
.tr-lower-part:has(.lower-notes-true){
    padding-top: 10px;

}
.tr-lower-effect{
    height: 0px;
    overflow: hidden;
}
.lower-btns{
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.187);
    border-top: none;
    border-right: none;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.592);
    border-radius: 0px 0px 0px 10px;
}

.lower-btns div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 80px;
    cursor: pointer;
}
.lower-btns div:first-child{
    background-color: rgba(85, 134, 218, 0.211);

    border-right: 1px solid rgba(255, 255, 255, 0.187);
    border-radius: 0px 0px 0px 9px;
}
.lower-btns div:last-child{
    background-color: rgba(206, 47, 47, 0.211);
}
.lower-btns div:hover{
    filter: contrast(1.5) brightness(2)
}


.lower-title{
    
}
.lower-title p{
    font-family:roboto-medium;
    font-size: 1.9rem;
    text-align: center;
}

.lower-none{

    color: rgba(255, 255, 255, 0.33);
    font-family: ptserif;
    font-style: italic;
}

.lower-priority{
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto-medium;
    text-transform: uppercase;
    opacity: 0.6;
    user-select: none;
    margin-right: 1px;
    border-radius: 0px 0px 10px 0px;
    
}
.lower-row:not(.lower-description){
    display: flex;
    align-items: end;
    gap: 5px;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.117);
    
}
.lower-description{
    margin-bottom: 10px;
    text-align: center;
}
.lower-notes{
    justify-self: start;
    border-bottom: none !important;

}
.lower-row div{
    display: flex;
    gap: 5px;
    font-family: korean;
    color: rgba(255, 255, 255, 0.622);
}
.lower-row img{
    width: 20px;
}
.lower-group img{
    filter: hue-rotate(200deg)

}
.lower-repeat img{
    filter: hue-rotate(320deg) contrast(0.8);
}
.lower-notes-true{
    flex-direction: column;
    align-items: start !important;

}
.lower-notes-true p{
    width: 100%;
    max-height: 120px;
    overflow: hidden;
    overflow-y: scroll;
}


/* upper Div--------------------------------------------------------- */

.tr-upper-part{
    display: grid;
    grid-template-columns:  minmax(100px,1fr) minmax(150px,0.4fr) minmax(130px,0.5fr) minmax(30px, 50px);
    grid-template-rows: 70px;
    align-items: stretch;
    justify-items: center;
}
.tr-upper-part > div:not(.tr-title){
    width: 100%;

    display: flex;
    align-items: center;
    padding: 12px 0px;
}




/* title--------------------------------------------------------- */
.tr-title{
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.186);

}
.tr-title p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}


/* due ----------------------------------------------------------------*/
.tr-due-div{
    width: 100%;
    justify-content: center;
    gap: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.186);
    user-select: none;
}
.tr-due-div img{
    width: 20px;
}
.tr-due-div div{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: calc(0.8rem + 0.5vw);
    color: rgba(255, 251, 251, 0.722);
}

.tr-due-div div span{
    font-size: 2rem;
    font-family: playfair;
    color: rgb(119, 119, 119);
    height: calc(15px + 0.4vw);
    background-color: rgba(255, 255, 255, 0.74);
    transform: rotate(20deg);
    border: 1.2px solid rgba(255, 255, 255, 0.555);
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(97, 204, 168, 0.5);
   
}
/* other ----------------------------------------------------------------*/

.tr-other-div{
    border-right: 1px solid rgba(255, 255, 255, 0.186);
    justify-content: space-evenly;
}

.tr-priority{
    border-radius: 50px;

    width: 25px;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 0px 3px white;
}

.tr-repeat{

    position: relative;
    width: 25px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tr-repeat img{
    width: 25px;
    filter: hue-rotate(320deg) contrast(0.8);
}

.tr-x{
    position: absolute;
    border-radius: 50px;
    border: 2px solid rgb(217, 15, 15, 0.4);
    box-sizing: content-box;
    width: 30px;
    height: 30px; 
    display: flex;
    align-items: center;
    pointer-events: none;
}
.tr-x > div{
    width: 100%;
    border: 2px solid rgb(217, 15, 15, 0.5);
    transform: rotate(45deg);
}
.tr-notes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tr-notes img{
    width: 25px;
}

.tr-group{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tr-group img{
    width: 25px;
    filter: hue-rotate(200deg);
}

/* checkbox */

.tr-check-div{
    cursor: pointer;
    user-select: none;
    justify-content: center;
    align-items: center;

}


.tr-inner-check{
    opacity: 0.2;
    font-size: 1rem;
    transition: font-size 0.1s linear;
}

.tr-hov, .tr-check-hov{
    position: fixed;
    background-color: rgba(250, 250, 250);
    max-width: 500px;
    max-height: 400px;
    z-index: 99;
    overflow: hidden;
    padding: 5px;
    text-align:start;
    font-family: ptserif;
    font-size: 1.2rem;
}

.tr-check-checked{
    opacity: 1;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.738);
    text-shadow: 0px 0px 2px rgb(56, 192, 96);
}
.task-completed{
    animation: animateBG 0.14s linear;
}

@keyframes animateBG {
    0%{
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(36, 202, 133, 0.25) 100%);   
    }
    25%{
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(36, 202, 133, 0.25) 75%);   

    }
    50%{
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(36, 202, 133, 0.22) 50%);   

    }
    75%{
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(36, 202, 133, 0.20) 25%);   

    }
    100%{
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(36, 202, 133, 0.28) 0%);   
    }
}
